html {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  line-height: normal;
  --primary-color: #8946A6;
  --secondary-color: #bb6bc4;
  --tertiary-color: #e9a9d8;
  --quaternary-color: #f8dae3;
  --main-text-color: black;
  --alt-text-color: white;
}

div {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ArtBrewery';
  src: url(./Art\ Brewery.ttf);
}

@font-face {
  font-family: 'Railway';
  src: url(./Raleway-Regular.ttf);
}

@font-face {
  font-family: 'RailwayBold';
  src: url(./Raleway-Bold.ttf)
}

body {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-color: var(--primary-color);
  color: var(--alt-text-color);
}

nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  position: relative;
  display: block;
  font-size: 1.4rem;
}

nav ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--alt-text-color);
}

nav ul li a div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  font-family: 'RailwayBold';
}

nav ul li a div:hover {
  background-color: rgba(34, 17, 70, .3);
}

 nav ul li:first-child {
   font-size: 4rem;
   font-weight: 700;
   padding: .5rem 2rem;
   color: var(--alt-text-color);
   font-family: "ArtBrewery";
   line-height: 3rem;
 }

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

main .elem {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem 0;
  background-color: var(--tertiary-color);
  color: var(--main-text-color);
}

.elem:nth-child(2n) {
  background-color: var(--primary-color);
  color: var(--alt-text-color);
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  main .elem {
    flex-direction: column;
  }
  main .elem:nth-child(2n) {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  main .elem {
    flex-direction: column;
  }
  main .elem:nth-child(2n) {
    flex-direction: column;
  }
  .elem__image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

main .elem div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.elem__content p {
  margin-top: 0;
  line-height: 1.4rem;
  font-size: 1.1rem;
}

.elem h1 {
  color: var(--primary-color);
}

.elem:nth-child(2n) h1 {
  color: var(--quaternary-color);
}

.elem__image-container {
  width: 100%;
  height: 100%;
}

.elem__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
  color: var(--alt-text-color);
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  position: relative;
  display: block;
  padding: 0.6rem;
  font-size: 0.9rem;
  color: var(--quaternary-color);
}